<!--
@author [Gunza Ismael]
@email [7ilip@gmail.com]
@create date 2021-10-12 10:24:31
@modify date 2022-01-15 14:58:51
@desc [description]
-->
{% extends 'home_base.html' %}{% block corpo %}{% load static %}
<div class="row no-print">
  <div class="col-12">
    <button type="button" onclick="convertHtmlPdf()" class="btn btn-primary pull-right" style="margin-right: 5px"><i class="fa fa-download"></i> Imprimir - PDF</button>
  </div>
</div>
<p></p>
<div class="card" id="reciboInscricao">
  <div class="card-header">
    <h3 class="d-block w-100">Recibo de Matricula <small class="float-right">Date: {{ matricula.dataMatricula }}</small></h3>
  </div>
  <div class="card-body">
    <div class="row invoice-info">
      <div class="col-sm-4 invoice-col">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <img src="/media/{{ pessoa.foto }}" class="rounded-circle" width="150" />
              <h4 class="card-title mt-1"></h4>
              <p class="card-subtitle"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 invoice-col">
        <address>
          <strong>
            <h5>UNIVERSIDADE ÓSCAR RIBAS</h5>

            <h5>FACULDADE DE ENGINHARIA</h5>
          </strong>
        </address>
      </div>
      <!--
      <div class="col-sm-4 invoice-col">
        <b></b><br />
        <br />
        <b>Numero de Inscrição:</b> 4F3S8J<br />
        <b>Estado:</b> <br />
        <b></b>
      </div>
      -->
    </div>

    <div class="row">
      <div class="col-12 table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td><b>Nome:</b> {{ pessoa.nome|safe|upper }}</td>
              <td><b>Nª Identificação:</b> {{ pessoa.ndi|safe|upper }}</td>
            </tr>
            <tr>
              <td><b>Instituição de Origem:</b> {{ aluno.instituicao_origem }}</td>
              <td><b>Telefone:</b> {{ pessoa.telefone }}</td>
            </tr>
            <tr>
              <td><b>Periodo:</b> {{ matricula.periodo.nome }}</td>
              <td><b>Curso:</b> {{ matricula.curso.nome|safe|upper }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <p class="lead">-----------</p>

        <div class="alert alert-secondary mt-20">
          <b>E-mail da Instituição:</b> uor@uor.com<br />
          <b>Telefone:</b> <br />
          <b>zona: Talatona avenida shopping</b> <br />
        </div>
      </div>
      <div class="col-6">
        <p class="lead">------------</p>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width: 50%">Nivel:</th>
              <td>{{ matricula.ano.nome|safe|upper }}</td>
            </tr>
            <tr>
              <th>Número do Estudante:</th>
              <td>{{ aluno.numero_estudante|upper }}</td>
            </tr>
            <tr>
              <th>Estado:</th>
              <td>{{ matricula.opcao_matricula.nome|safe|upper }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div id="visitfromworld" style="width: 100%; height: 300px"></div>
        <div class="w-100 clearfix">
          <span class="text-center text-sm-left d-md-inline-block">Kanguito v2.0</span>
          <span class="float-none float-sm-right mt-1 mt-sm-0 text-center"
            >School <i class="fa fa-heart text-danger"></i> <a href="#" class="text-dark" target="_blank">Life</a></span
          >
        </div>
      </div>
    </div>

    <div class="row no-print">
      <div class="col-12">
        <hr />
        <p></p>
        <!--
        <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px"><i class="fa fa-download"></i> Imprimir - PDF</button>
      --></div>
    </div>
  </div>
</div>

{% endblock %}
