{% extends 'home_base.html' %}{% block corpo %}{% load static %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-9">
    <div class="card" style="min-height: 484px">
      <div class="card-header">
        <h3>Adicionar Nova Obra Literaria</h3>
      </div>
      <div class="card-body">
        <form class="forms-sample" action="{% url 'biblioteca:adicionarNova-obraLiteraria' %}" method="POST" enctype="multipart/form-data">
        
              {% csrf_token %} {% autoescape on %}
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="" class="">Titulo</label>
                    {{ form.titulo }}{{ form.titulo.errors }}
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group ">
                    <label for="" class="">Autor</label>
                    {{ form.autor }}{{ form.autor.errors }}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="" class="">Número de Pagina</label>
                    {{ form.numero_pagina }}{{ form.numero_pagina.errors }}
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group ">
                    <label for="" class="">Categoria</label>
                    {{ form.categoria }}{{ form.categoria.errors }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="" class="">Isban:</label>
                    {{ form.isbn }}{{ form.isbn.errors }}
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group ">
                    <label for="" class="">Data de publicação</label>
                    {{ form.data_publicacao }}{{ form.data_publicacao.errors }}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="" class="">Data de Entrada</label>
                    {{ form.data_entrada }}{{ form.data_entrada.errors }}
                  </div>
                </div>
                
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="" class="">Arquivo</label>
                    {{ form.arquivo }}{{ form.arquivo.errors }}

                  </div>
                </div>

              </div>

              <div class="form-group">
                <div id="visitfromworld" style="width: 100%; height: 20px"></div>
              </div>
              <button type="submit" class="btn btn-primary mr-2" style="width: 40%; height: 38px">SALVAR</button>
              {% endautoescape %}
            </form>
          </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>